.git
node_modules
.env
.env.local
certs
recordings
exports
mediamtx.log
*.log
.superpowers
__pycache__
video_to_gaussian_splat
web_rtc_app/public/splats
web_rtc_app/public/scenes/*.splat
web_rtc_app/public/scenes/*.ply
raspi_zero_2_w_code
docs
.DS_Store
